<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idlelife.myasset.repository.AssetStockMapper">
    <insert id="insertAssetRe" parameterType="AssetStockEntity">
            INSERT asset_stock (
                asset_id
                ,re_type
                ,re_name
                ,buy_date
                ,buy_amt
                ,buy_extra_amt
                ,loan_amt
                ,loan_bal_amt
                ,loan_rate
                ,sale_date
                ,sale_amt
                ,sale_income_tax_amt
                ,sale_extra_amt
                ,pal_amt
                ,pal_percentage
                ,re_rent_id
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            ) VALUES
            (
                ${assetId}
                ,#{reType}
                ,#{reName}
                ,#{buyDate}
                ,v{buyAmt}
                ,v{buyExtraAmt}
                ,v{loanAmt}
                ,${loanBalAmt}
                ,#{loanRate}
                ,#{seleDate}
                ,${seleAmt}
                ,${seleIncomeTaxAmt}
                ,${seleExtraAmt}
                ,${palAmt}
                ,${palPercentage}
                ,${reRentId}
                ,NOW()
                ,NOW()
            )
    </insert>

    <update id="updateAssetStock" parameterType="AssetStockEntity">
            UPDATE asset_stock
               SET
                   re_type = ${reType}
                   ,re_name              = #{reName}
                   ,buy_date             = #{buyDate}
                   ,buy_amt              = ${buyAmt}
                   ,buy_extra_amt        = ${buyExtraAmt}
                   ,loan_amt             = ${loanAmt}
                   ,loan_bal_amt         = ${loanBalAmt}
                   ,loan_rate            = ${loanRate}
                   ,sale_date            = #{seleDate}
                   ,sale_amt             = ${seleAmt}
                   ,sale_income_tax_amt  = ${seleIncomeTaxAmt}
                   ,sale_extra_amt       = ${seleExtraAmt}
                   ,pal_amt              = ${palAmt}
                   ,pal_percentage       = ${palPercentage}
                   ,re_rent_id           = ${reRentId}
                   ,delete_yn            = #{deleteYn} 
                   ,last_update_datetime = NOW() 
            WHERE asset_id = ${assetId}
    </update>

    <delete id="deleteAssetStock" parameterType="Long">
            UPDATE asset_stock
            SET
               delete_yn = 'Y'
              ,last_update_datetime = NOW()
            WHERE asset_id = ${assetId}
    </delete>

    <select id="selectAssetStock" parameterType="Long" resultType="AssetStockEntity">
            SELECT
                asset_id
                 ,re_type
                 ,re_name
                 ,buy_date
                 ,buy_amt
                 ,buy_extra_amt
                 ,loan_amt
                 ,loan_bal_amt
                 ,loan_rate
                 ,sale_date
                 ,sale_amt
                 ,sale_income_tax_amt
                 ,sale_extra_amt
                 ,pal_amt
                 ,pal_percentage
                 ,re_rent_id
                 ,delete_yn
                 ,reg_datetime
                 ,last_update_datetime
            FROM asset_stock as
            WHERE ab.asset_id = ${assetId}
    </select>

    <select id="selectAssetStockDto" parameterType="Long" resultType="AssetStockDto">
            SELECT
                asset_id
                 ,re_type
                 ,cc.cd_name AS re_type_name
                 ,re_name
                 ,buy_date
                 ,buy_amt
                 ,buy_extra_amt
                 ,loan_amt
                 ,loan_bal_amt
                 ,loan_rate
                 ,sale_date
                 ,sale_amt
                 ,sale_income_tax_amt
                 ,sale_extra_amt
                 ,pal_amt
                 ,pal_percentage
                 ,re_rent_id
                 ,delete_yn
                 ,reg_datetime
                 ,last_update_datetime
            FROM asset_stock as
                 LEFT OUTER JOIN common_code cc ON cc.div_code = 'RE_TYPE' AND cc.code = ab.re_type
            WHERE as.asset_id = ${assetId}
    </select>

    <select id="selectAssetStockDtoList" parameterType="AssetSearch" resultType="AssetStockDto">
            SELECT
                asset_id
                ,re_type
                ,cc.cd_name AS re_type_name
                ,re_name
                ,buy_date
                ,buy_amt
                ,buy_extra_amt
                ,loan_amt
                ,loan_bal_amt
                ,loan_rate
                ,sale_date
                ,sale_amt
                ,sale_income_tax_amt
                ,sale_extra_amt
                ,pal_amt
                ,pal_percentage
                ,re_rent_id
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            FROM asset_stock as
                LEFT OUTER JOIN common_code cc ON cc.div_code = 'RE_TYPE' AND cc.code = ab.re_type
            WHERE 1 = 1
              <if test = 'assetId != null and assetId !=""'>
                    AND as.asset_id = ${assetId}
              </if>
              <if test = 'reType != null and reType !=""'>
                    AND as.re_type = #{reType}
              </if>
    </select>








    <insert id="insertStockKind" parameterType="StockKindEntity">
        INSERT stock_kind (
                re_rent_id
                ,asset_id
                ,rent_start_date
                ,rent_end_date
                ,renter_name
                ,renter_contact
                ,deposit
                ,month_fee
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            ) VALUES
            (
                #{reRentId}
                ,#{assetId}
                ,#{rentStartDate}
                ,#{rentEndDate}
                ,#{renterName}
                ,#{renterContact}
                ,${deposit}
                ,${monthFee}
                ,#{deleteYn}
                ,NOW()
                ,NOW()
        )
    </insert>

    <update id="updateStockKind" parameterType="StockKindEntity">
        UPDATE stock_kind
        SET
            asset_id              = #{assetId}
            ,rent_start_date      = #{rentStartDate}
            ,rent_end_date        = #{rentEndDate}
            ,renter_name          = #{renterName}
            ,renter_contact       = #{renterContact}
            ,deposit              = ${deposit}
            ,month_fee            = ${monthFee}
            ,delete_yn            = #{deleteYn}
            ,last_update_datetime = NOW()
        WHERE stock_kind_id = ${stockKindId}
    </update>

    <delete id="deleteStockKind" parameterType="Long">
        UPDATE stock_kind
        SET
            delete_yn = 'Y'
          ,last_update_datetime = NOW()
        WHERE stock_kind_id = ${stockKindId}
    </delete>

    <select id="selectStockKind" parameterType="Long" resultType="StockKindEntity">
        SELECT
             re_rent_id
             ,asset_id
             ,rent_start_date
             ,rent_end_date
             ,renter_name
             ,renter_contact
             ,deposit
             ,month_fee
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM stock_kind sk
        WHERE stock_kind_id = ${stockKindId}
    </select>

    <select id="selectStockKindDto" parameterType="Long" resultType="StockKindDto">
        SELECT
            re_rent_id
             ,asset_id
             ,rent_start_date
             ,rent_end_date
             ,renter_name
             ,renter_contact
             ,deposit
             ,month_fee
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM stock_kind sk
        WHERE stock_kind_id = ${stockKindId}
    </select>

    <select id="selectStockKindDtoList" parameterType="AssetSearch" resultType="StockKindDto">
        SELECT
            re_rent_id
            ,asset_id
            ,rent_start_date
            ,rent_end_date
            ,renter_name
            ,renter_contact
            ,deposit
            ,month_fee
            ,delete_yn
            ,reg_datetime
            ,last_update_datetime
        FROM stock_kind sk
            INNER JOIN asset a ON a.asset_id = sk.asset_id
        WHERE 1 = 1
        <if test = 'stockKindId != null and stockKindId !=""'>
            AND sk.stock_kind_id = ${stockKindId}
        </if>
        <if test = 'memberId != null and memberId !=""'>
            AND a.member_id = ${memberId}
        </if>
    </select>







    <insert id="insertStockTrade" parameterType="StockTradeEntity">
        INSERT stock_trade (
                re_rent_id
                ,asset_id
                ,rent_start_date
                ,rent_end_date
                ,renter_name
                ,renter_contact
                ,deposit
                ,month_fee
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            ) VALUES
            (
        #{reRentId}
        ,#{assetId}
        ,#{rentStartDate}
        ,#{rentEndDate}
        ,#{renterName}
        ,#{renterContact}
        ,${deposit}
        ,${monthFee}
        ,#{deleteYn}
        ,NOW()
        ,NOW()
        )
    </insert>

    <update id="updateStockTrade" parameterType="StockTradeEntity">
        UPDATE stock_trade
        SET
            asset_id              = #{assetId}
          ,rent_start_date      = #{rentStartDate}
          ,rent_end_date        = #{rentEndDate}
          ,renter_name          = #{renterName}
          ,renter_contact       = #{renterContact}
          ,deposit              = ${deposit}
          ,month_fee            = ${monthFee}
          ,delete_yn            = #{deleteYn}
          ,last_update_datetime = NOW()
        WHERE stock_trade_id = ${stockTradeId}
    </update>

    <delete id="deleteStockTrade" parameterType="Long">
        UPDATE stock_trade
        SET
            delete_yn = 'Y'
          ,last_update_datetime = NOW()
        WHERE stock_trade_id = ${stockTradeId}
    </delete>

    <select id="selectStockTrade" parameterType="Long" resultType="StockTradeEntity">
        SELECT
            re_rent_id
             ,asset_id
             ,rent_start_date
             ,rent_end_date
             ,renter_name
             ,renter_contact
             ,deposit
             ,month_fee
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM stock_trade st
        WHERE stock_trade_id = ${stockTradeId}
    </select>

    <select id="selectStockTradeDto" parameterType="Long" resultType="StockTradeDto">
        SELECT
            re_rent_id
             ,asset_id
             ,rent_start_date
             ,rent_end_date
             ,renter_name
             ,renter_contact
             ,deposit
             ,month_fee
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM stock_trade st
        WHERE stock_trade_id = ${stockTradeId}
    </select>

    <select id="selectStockTradeDtoList" parameterType="AssetSearch" resultType="StockTradeDto">
        SELECT
        re_rent_id
        ,asset_id
        ,rent_start_date
        ,rent_end_date
        ,renter_name
        ,renter_contact
        ,deposit
        ,month_fee
        ,delete_yn
        ,reg_datetime
        ,last_update_datetime
        FROM stock_trade st
        INNER JOIN asset a ON a.asset_id = st.asset_id
        WHERE 1 = 1
        <if test = 'stockTradeId != null and stockTradeId !=""'>
            AND st.stock_trade_id = ${stockTradeId}
        </if>
        <if test = 'memberId != null and memberId !=""'>
            AND a.member_id = ${memberId}
        </if>
    </select>
</mapper>