<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idlelife.myasset.repository.CommonMapper">

    <select id="selectCommonCodeDtoList" parameterType="CommonCodeForm" resultType="CommonCodeDto">
            SELECT
                cc.div_code
                ,cc.code
                ,cc.code_name
                ,cc.code_desc
                ,cc.order
                ,cc.use_yn
            FROM common_code cc
            WHERE cc.div_code = #{divCode}
                <if test = 'code != null and code !=""'>
                    AND cc.code = #{code}
                </if>
                <if test = 'codeDesc != null and codeDesc !=""'>
                    AND cc.code_desc = #{codeDesc}
                </if>
            ORDER BY cc.order
    </select>

    <insert id="insertStockKindCode" parameterType="StockKindCodeDto">
        INSERT INTO stock_kind_code (code, kind_name)
        VALUES
        (
         #{code}, #{kindName}
        )
    </insert>


    <insert id="updateStockKindCode" parameterType="StockKindCodeDto">
        UPDATE stock_kind_code
           SET kind_name = #{kindName}
        WHERE code = #{code}
    </insert>

    <select id="selectStockKindCodeList" parameterType="StockKindCodeDto" resultType="StockKindCodeDto">
        SELECT
        skc.code
        ,skc.kind_name
        FROM stock_kind_code skc
        WHERE 1 = 1
        <if test = 'code != null and code !=""'>
            AND skc.code = #{code}
        </if>
        <if test = 'kindName != null and kindName !=""'>
            AND skc.kind_name LIKE CONCAT('%', #{kindName}, '%')
        </if>
        ORDER BY skc.kind_name
    </select>


    <select id="selectStockKindCode" parameterType="StockKindCodeDto" resultType="StockKindCodeDto">
        SELECT
        skc.code
        ,skc.kind_name
        FROM stock_kind_code skc
        WHERE 1 = 1
        <if test = 'code != null and code !=""'>
            AND skc.code = #{code}
        </if>
        <if test = 'kindName != null and kindName !=""'>
            AND skc.kind_name = #{kindName}
        </if>
    </select>
</mapper>