<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idlelife.myasset.repository.ReMapper">
    <insert id="insertAssetRe" parameterType="AssetReEntity">
            INSERT asset_re (
                asset_id
                ,re_type
                ,re_name
                ,buy_date
                ,buy_amt
                ,buy_extra_amt
                ,loan_amt
                ,loan_bal_amt
                ,loan_rate
                ,sale_date
                ,sale_amt
                ,sale_income_tax_amt
                ,sale_extra_amt
                ,pal_amt
                ,pal_percentage
                ,re_rent_id
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            ) VALUES
            (
                ${assetId}
                ,#{reType}
                ,#{reName}
                ,#{buyDate}
                ,v{buyAmt}
                ,v{buyExtraAmt}
                ,v{loanAmt}
                ,${loanBalAmt}
                ,#{loanRate}
                ,#{seleDate}
                ,${seleAmt}
                ,${seleIncomeTaxAmt}
                ,${seleExtraAmt}
                ,${palAmt}
                ,${palPercentage}
                ,${reRentId}
                ,#{deleteYn}
                ,NOW()
                ,NOW()
            )
    </insert>

    <update id="updateAssetRe" parameterType="AssetReEntity">
            UPDATE asset_re
               SET
                   re_type = ${reType}
                   ,re_name              = #{reName}
                   ,buy_date             = #{buyDate}
                   ,buy_amt              = ${buyAmt}
                   ,buy_extra_amt        = ${buyExtraAmt}
                   ,loan_amt             = ${loanAmt}
                   ,loan_bal_amt         = ${loanBalAmt}
                   ,loan_rate            = ${loanRate}
                   ,sale_date            = #{seleDate}
                   ,sale_amt             = ${seleAmt}
                   ,sale_income_tax_amt  = ${seleIncomeTaxAmt}
                   ,sale_extra_amt       = ${seleExtraAmt}
                   ,pal_amt              = ${palAmt}
                   ,pal_percentage       = ${palPercentage}
                   ,re_rent_id           = ${reRentId}
                   ,delete_yn            = #{deleteYn} 
                   ,last_update_datetime = NOW() 
            WHERE asset_id = ${assetId}
    </update>

    <delete id="deleteAssetRe" parameterType="Long">
            UPDATE asset_re
            SET
               delete_yn = 'Y'
              ,last_update_datetime = NOW()
            WHERE asset_id = ${assetId}
    </delete>

    <select id="selectAssetRe" parameterType="Long" resultType="AssetReEntity">
            SELECT
                asset_id
                 ,re_type
                 ,re_name
                 ,buy_date
                 ,buy_amt
                 ,buy_extra_amt
                 ,loan_amt
                 ,loan_bal_amt
                 ,loan_rate
                 ,sale_date
                 ,sale_amt
                 ,sale_income_tax_amt
                 ,sale_extra_amt
                 ,pal_amt
                 ,pal_percentage
                 ,re_rent_id
                 ,delete_yn
                 ,reg_datetime
                 ,last_update_datetime
            FROM asset_re ar
            WHERE ar.asset_id = ${assetId}
    </select>

    <select id="selectAssetReDto" parameterType="Long" resultType="AssetReDto">
            SELECT
                asset_id
                 ,re_type
                 ,cc.code_name AS re_type_name
                 ,re_name
                 ,buy_date
                 ,buy_amt
                 ,buy_extra_amt
                 ,loan_amt
                 ,loan_bal_amt
                 ,loan_rate
                 ,sale_date
                 ,sale_amt
                 ,sale_income_tax_amt
                 ,sale_extra_amt
                 ,pal_amt
                 ,pal_percentage
                 ,re_rent_id
                 ,delete_yn
                 ,reg_datetime
                 ,last_update_datetime
            FROM asset_re ar
                 LEFT OUTER JOIN common_code cc ON cc.div_code = 'RE_TYPE' AND cc.code = ar.re_type
            WHERE ar.asset_id = ${assetId}
    </select>

    <select id="selectAssetReDtoList" parameterType="AssetSearch" resultType="AssetReDto">
            SELECT
                ar.asset_id
                ,ar.re_type
                ,cc.code_name AS re_type_name
                ,ar.re_name
                ,ar.buy_date
                ,ar.buy_amt
                ,ar.buy_extra_amt
                ,IFNULL(ar.loan_amt, 0) AS loan_amt
                ,IFNULL(ar.loan_bal_amt, 0) AS loab_bal_amt
                ,IFNULL(ar.loan_rate, 0.0) AS loan_rate
                ,IFNULL(ar.cur_expect_amt, buy_amt) AS cur_expect_amt
                ,IFNULL(ar.cur_cost_amt, 0) AS cur_cost_amt
                ,ar.sale_date
                ,ar.sale_amt
                ,ar.sale_income_tax_amt
                ,ar.sale_extra_amt
                ,ar.pal_amt
                ,ar.pal_percentage
                ,ar.re_rent_id
                ,ar.delete_yn
                ,ar.reg_datetime
                ,ar.last_update_datetime
            FROM asset_re ar
                LEFT OUTER JOIN common_code cc ON cc.div_code = 'RE_TYPE' AND cc.code = ar.re_type
                LEFT OUTER JOIN re_rent rr ON rr.re_rent_id = ar.re_rent_id
            WHERE 1 = 1
              <if test = 'assetId != null and assetId !=""'>
                    AND ar.asset_id = ${assetId}
              </if>
              <if test = 'reType != null and reType !=""'>
                    AND ar.re_type = #{reType}
              </if>
              <if test = 'deleteYn != null and deleteYn !=""'>
                AND ar.delete_yn = #{deleteYn}
              </if>
              <if test = 'memberId != null and memberId !=""'>
                    AND ar.member_id = ${memberId}
              </if>
    </select>








    <insert id="insertAssetReRent" parameterType="AssetReRentEntity">
        INSERT asset_re_rent (
                re_rent_id
                ,asset_id
                ,rent_start_date
                ,rent_end_date
                ,renter_name
                ,renter_contact
                ,deposit
                ,month_fee
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            ) VALUES
            (
                #{reRentId}
                ,#{assetId}
                ,#{rentStartDate}
                ,#{rentEndDate}
                ,#{renterName}
                ,#{renterContact}
                ,${deposit}
                ,${monthFee}
                ,#{deleteYn}
                ,NOW()
                ,NOW()
        )
    </insert>

    <update id="updateAssetReRent" parameterType="AssetReRentEntity">
        UPDATE asset_re_rent
        SET
            asset_id              = #{assetId}
            ,rent_start_date      = #{rentStartDate}
            ,rent_end_date        = #{rentEndDate}
            ,renter_name          = #{renterName}
            ,renter_contact       = #{renterContact}
            ,deposit              = ${deposit}
            ,month_fee            = ${monthFee}
            ,delete_yn            = #{deleteYn}
            ,last_update_datetime = NOW()
        WHERE re_rent_id = ${reRentId}
    </update>

    <delete id="deleteAssetReRent" parameterType="Long">
        UPDATE asset_re_rent
        SET
            delete_yn = 'Y'
          ,last_update_datetime = NOW()
        WHERE re_rent_id = ${reRentId}
    </delete>

    <select id="selectAssetReRent" parameterType="Long" resultType="AssetReRentEntity">
        SELECT
             re_rent_id
             ,asset_id
             ,rent_start_date
             ,rent_end_date
             ,renter_name
             ,renter_contact
             ,deposit
             ,month_fee
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM asset_re_rent arr
        WHERE re_rent_id = ${reRentId}
    </select>

    <select id="selectAssetReRentDto" parameterType="Long" resultType="AssetReRentDto">
        SELECT
            re_rent_id
             ,asset_id
             ,rent_start_date
             ,rent_end_date
             ,renter_name
             ,renter_contact
             ,deposit
             ,month_fee
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM asset_re_rent arr
        WHERE re_rent_id = ${reRentId}
    </select>

    <select id="selectAssetReRentDtoList" parameterType="AssetSearch" resultType="AssetReRentDto">
        SELECT
            re_rent_id
            ,asset_id
            ,rent_start_date
            ,rent_end_date
            ,renter_name
            ,renter_contact
            ,deposit
            ,month_fee
            ,delete_yn
            ,reg_datetime
            ,last_update_datetime
        FROM asset_re_rent arr
            INNER JOIN asset a ON a.asset_id = arr.asset_id
        WHERE 1 = 1
        <if test = 'assetId != null and assetId !=""'>
            AND arr.asset_id = ${assetId}
        </if>
        <if test = 'memberId != null and memberId !=""'>
            AND arr.member_id = ${memberId}
        </if>
    </select>
</mapper>