<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.idlelife.myasset.repository.StockMapper">
    <insert id="insertAssetStock" parameterType="AssetStockEntity">
            INSERT INTO asset_stock (
                asset_id
                ,member_id
                ,org_cd
                ,org_name
                ,stock_acno
                ,able_amt
                ,loan_bal_amt
                ,loan_rate
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            ) VALUES
            (
                ${assetId}
                ,${memberId}
                ,#{orgCd}
                ,#{orgName}
                ,#{stockAcno}
                ,${ableAmt}
                ,${loanBalAmt}
                ,#{loanRate}
                ,#{deleteYn}
                ,NOW()
                ,NOW()
            )
    </insert>

    <update id="updateAssetStock" parameterType="AssetStockEntity">
            UPDATE asset_stock
               SET
                   member_id             = ${memberId}
                   ,org_cd                = #{orgCd}
                   ,org_name             = #{orgName}
                   ,stock_acno           = #{stockAcno}
                   ,able_amt             = ${ableAmt}
                   ,loan_bal_amt         = ${loanBalAmt}
                   ,loan_rate            = ${loanRate}
                   ,delete_yn            = #{deleteYn} 
                   ,last_update_datetime = NOW() 
            WHERE asset_id = ${assetId}
    </update>

    <delete id="deleteAssetStock" parameterType="Long">
            UPDATE asset_stock
            SET
               delete_yn = 'Y'
              ,last_update_datetime = NOW()
            WHERE asset_id = ${assetId}
    </delete>

    <select id="selectAssetStock" parameterType="StockSearch" resultType="AssetStockEntity">
            SELECT
                asset_id
                 ,member_id
                 ,org_cd
                 ,org_name
                 ,stock_acno
                 ,able_amt
                 ,loan_bal_amt
                 ,loan_rate
                 ,delete_yn
                 ,reg_datetime
                 ,last_update_datetime
            FROM asset_stock stock
            WHERE  1 = 1
            <if test = 'assetId != null and assetId !=""'>
                stock.asset_id = ${assetId}
            </if>
            <if test = 'memberId != null and memberId !=""'>
                AND stock.member_id = ${memberId}
            </if>
            <if test = 'orgCd != null and orgCd !=""'>
                AND stock.org_cd = ${orgCd}
            </if>
            <if test = 'stockAcno != null and stockAcno !=""'>
                AND stock.stock_acno = ${stockAcno}
            </if>
            <if test = 'deleteYn != null and deleteYn !=""'>
                AND sk.delete_yn = #{deleteYn}
            </if>
    </select>

    <select id="selectAssetStockDto" parameterType="StockSearch" resultType="AssetStockDto">
            SELECT
                asset_id
                 ,member_id
                 ,org_cd
                 ,org_name
                 ,stock_acno
                 ,able_amt
                 ,loan_bal_amt
                 ,loan_rate
                 ,delete_yn
                 ,reg_datetime
                 ,last_update_datetime
            FROM asset_stock stock
            WHERE  1 = 1
            <if test = 'assetId != null and assetId !=""'>
                stock.asset_id = ${assetId}
            </if>
            <if test = 'memberId != null and memberId !=""'>
                AND stock.member_id = ${memberId}
            </if>
            <if test = 'orgCd != null and orgCd !=""'>
                AND stock.org_cd = ${orgCd}
            </if>
            <if test = 'stockAcno != null and stockAcno !=""'>
                AND stock.stock_acno = ${stockAcno}
            </if>
            <if test = 'deleteYn != null and deleteYn !=""'>
                AND sk.delete_yn = #{deleteYn}
            </if>
    </select>

    <select id="selectAssetStockDtoList" parameterType="StockSearch" resultType="AssetStockDto">
            SELECT
                asset_id
                ,member_id
                ,org_cd
                ,org_name
                ,stock_acno
                ,able_amt
                ,loan_bal_amt
                ,loan_rate
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            FROM asset_stock stock
            WHERE 1 = 1
              <if test = 'assetId != null and assetId !=""'>
                    AND stock.asset_id = ${assetId}
              </if>
              <if test = 'memberId != null and memberId !=""'>
                    AND stock.member_id = ${memberId}
              </if>
            <if test = 'deleteYn != null and deleteYn !=""'>
                AND stock.delete_yn = #{deleteYn}
            </if>
    </select>







    <select id="createStockKindId" resultType="Long">
        SELECT IFNULL(MAX(stock_kind_id), 0) + 1 AS stock_kind_id
        FROM stock_kind
    </select>

    <insert id="insertStockKind" parameterType="StockKindEntity">
        INSERT INTO stock_kind (
                stock_kind_id
                ,asset_id
                ,member_id
                ,stock_kind_cd
                ,stock_kind_name
                ,quantity
                ,buy_avg_price
                ,buy_tot_price
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            ) VALUES
            (
                ${stockKindId}
                ,${assetId}
                ,${memberId}
                ,#{stockKindCd}
                ,#{stockKindName}
                ,${quantity}
                ,${buyAvgPrice}
                ,${buyTotPrice}
                ,#{deleteYn}
                ,NOW()
                ,NOW()
        )
    </insert>

    <update id="updateStockKind" parameterType="StockKindEntity">
        UPDATE stock_kind
        SET
           asset_id          = ${assetId}
          ,member_id         = ${memberId}
          ,stock_kind_cd     = #{stockKindCd}
          ,stock_kind_name   = #{stockKindName}
          ,quantity          = ${quantity}
          ,buy_avg_price     = ${buyAvgPrice}
          ,buy_tot_price     = ${buyTotPrice}
          ,delete_yn         = #{deleteYn}
          ,last_update_datetime = NOW()
        WHERE stock_kind_id = ${stockKindId}
    </update>

    <delete id="deleteStockKind" parameterType="Long">
        DELETE FROM stock_kind
        WHERE stock_kind_id = ${stockKindId}
    </delete>

    <select id="selectStockKind" parameterType="StockSearch" resultType="StockKindEntity">
        SELECT
              stock_kind_id
             ,asset_id
             ,member_id
             ,stock_kind_cd
             ,stock_kind_name
             ,quantity
             ,buy_avg_price
             ,buy_tot_price
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM stock_kind sk
        WHERE  1 = 1
        <if test = 'memberId != null and memberId !=""'>
            AND stock.member_id = ${memberId}
        </if>
        <if test = 'stockKindCd != null and stockKindCd !=""'>
            AND stock.stock_kind_cd = ${stockKindCd}
        </if>
        <if test = 'stockKindId != null and stockKindId !=""'>
            stock_kind_id = ${stockKindId}
        </if>
        <if test = 'deleteYn != null and deleteYn !=""'>
            AND sk.delete_yn = #{deleteYn}
        </if>
    </select>

    <select id="selectStockKindDto" parameterType="StockSearch" resultType="StockKindDto">
        SELECT
            stock_kind_id
             ,asset_id
             ,member_id
             ,stock_kind_cd
             ,stock_kind_name
             ,quantity
             ,buy_avg_price
             ,buy_tot_price
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM stock_kind sk
        WHERE  1 = 1
        <if test = 'memberId != null and memberId !=""'>
            AND stock.member_id = ${memberId}
        </if>
        <if test = 'stockKindCd != null and stockKindCd !=""'>
            AND stock.stock_kind_cd = ${stockKindCd}
        </if>
        <if test = 'stockKindId != null and stockKindId !=""'>
            AND stock_kind_id = ${stockKindId}
        </if>
        <if test = 'deleteYn != null and deleteYn !=""'>
            AND sk.delete_yn = #{deleteYn}
        </if>
    </select>

    <select id="selectStockKindDtoList" parameterType="StockSearch" resultType="StockKindDto">
        SELECT
            stock_kind_id
            ,asset_id
            ,member_id
            ,stock_kind_cd
            ,stock_kind_name
            ,quantity
            ,buy_avg_price
            ,buy_tot_price
            ,delete_yn
            ,reg_datetime
            ,last_update_datetime
        FROM stock_kind sk
        WHERE sk.delete_yn = #{deleteYn}
        <if test = 'stockKindId != null and stockKindId !=""'>
            AND sk.stock_kind_id = ${stockKindId}
        </if>
        <if test = 'memberId != null and memberId !=""'>
            AND sk.member_id = ${memberId}
        </if>
        ORDER BY stock_kind_name
    </select>


    <select id="selectStockKindCodeDtoList" parameterType="StockSearch" resultType="StockKindCodeDto">
        SELECT
            skc.code, skc.kind_name, skc.exchange
        FROM stock_kind_code skc
        WHERE 1 = 1
        <if test = 'stockKindCd != null and stockKindCd !=""'>
            AND skc.code LIKE CONCAT('%', #{stockKindCd}, '%')
        </if>
        <if test = 'stockKindName != null and stockKindName !=""'>
            AND skc.kind_name LIKE CONCAT('%', #{stockKindName}, '%')
        </if>
        <if test = 'searchWord != null and searchWord !=""'>
            AND (skc.code LIKE CONCAT('%', #{searchWord}, '%')
                 OR skc.kind_name LIKE CONCAT('%', #{searchWord}, '%'))
        </if>
        ORDER BY skc.code, skc.kind_name
    </select>








    <select id="createStockTradeId" resultType="Long">
        SELECT IFNULL(MAX(stock_trade_id), 0) + 1 AS stock_trade_id
        FROM stock_trade
    </select>

    <insert id="insertStockTrade" parameterType="StockTradeEntity">
        INSERT INTO stock_trade (
                stock_trade_id
                ,trade_type
                ,stock_kind_id
                ,trade_datetime
                ,trade_type_name
                ,trade_quantity
                ,trade_unit_price
                ,trade_amt
                ,bef_quantity
                ,aft_quantity
                ,bef_buy_avg_price
                ,bef_buy_tot_price
                ,aft_buy_avg_price
                ,aft_buy_tot_price
                ,tax_amt
                ,fee_amt
                ,pnl_rate
                ,pnl_amt
                ,delete_yn
                ,reg_datetime
                ,last_update_datetime
            ) VALUES
            (
                 ${stockTradeId}
                ,#{tradeType}
                ,${stockKindId}
                ,#{tradeDatetime}
                ,#{tradeTypeName}
                ,${tradeQuantity}
                ,${tradeUnitPrice}
                ,${tradeAmt}
                ,${befQuantity}
                ,${aftQuantity}
                ,${befBuyAvgPrice}
                ,${befBuyTotPrice}
                ,${aftBuyAvgPrice}
                ,${aftBuyTotPrice}
                ,${taxAmt}
                ,${feeAmt}
                ,${pnlRate}
                ,${pnlAmt}
                ,#{deleteYn}
                ,NOW()
                ,NOW()
            )
    </insert>

    <update id="updateStockTrade" parameterType="StockTradeEntity">
        UPDATE stock_trade
        SET
                 stock_trade_id       = ${stockTradeId}
                ,trade_type           = #{tradeType}
                ,stock_kind_id        = ${stockKindId}
                ,trade_datetime       = #{tradeDatetime}
                ,trade_type_name      = #{tradeTypeName}
                ,trade_quantity       = ${tradeQuantity}
                ,trade_unit_price     = ${tradeUnitPrice}
                ,trade_amt            = ${tradeAmt}
                ,bef_quantity         = ${befQuantity}
                ,aft_quantity         = ${aftQuantity}
                ,bef_buy_avg_price    = ${befBuyAvgPrice}
                ,bef_buy_tot_price    = ${befBuyTotPrice}
                ,aft_buy_avg_price    = ${aftBuyAvgPrice}
                ,aft_buy_tot_price    = ${aftBuyTotPrice}
                ,tax_amt              = ${taxAmt}
                ,fee_amt              = ${feeAmt}
                ,pnl_rate             = ${pnlRate}
                ,pnl_amt              = ${pnlAmt}
                ,delete_yn            = #{deleteYn}
                ,last_update_datetime = NOW()
        WHERE stock_trade_id = ${stockTradeId}
    </update>

    <delete id="deleteStockTrade" parameterType="Long">
        UPDATE stock_trade
        SET
            delete_yn = 'Y'
          ,last_update_datetime = NOW()
        WHERE stock_trade_id = ${stockTradeId}
    </delete>

    <select id="selectStockTrade" parameterType="Long" resultType="StockTradeEntity">
        SELECT
            stock_trade_id
             ,trade_type
             ,stock_kind_id
             ,trade_datetime
             ,trade_type_name
             ,trade_quantity
             ,trade_unit_price
             ,trade_amt
             ,bef_quantity
             ,aft_quantity
             ,bef_buy_avg_price
             ,bef_buy_tot_price
             ,aft_buy_avg_price
             ,aft_buy_tot_price
             ,tax_amt
             ,fee_amt
             ,pnl_rate
             ,pnl_amt
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM stock_trade st
        WHERE stock_trade_id = ${stockTradeId}
    </select>

    <select id="selectLastStockTrade" parameterType="Long" resultType="StockTradeEntity">
        SELECT
            stock_trade_id
             ,trade_type
             ,stock_kind_id
             ,trade_datetime
             ,trade_type_name
             ,trade_quantity
             ,trade_unit_price
             ,trade_amt
             ,bef_quantity
             ,aft_quantity
             ,bef_buy_avg_price
             ,bef_buy_tot_price
             ,aft_buy_avg_price
             ,aft_buy_tot_price
             ,tax_amt
             ,fee_amt
             ,pnl_rate
             ,pnl_amt
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM stock_trade st
        WHERE stock_trade_id = (SELECT MAX(stock_trade_id) FROM stock_trade stold WHERE stock_kind_id = ${stockKindId})
    </select>

    <select id="selectStockTradeDto" parameterType="Long" resultType="StockTradeDto">
        SELECT
            stock_trade_id
             ,trade_type
             ,stock_kind_id
             ,trade_datetime
             ,trade_type_name
             ,trade_quantity
             ,trade_unit_price
             ,trade_amt
             ,bef_quantity
             ,aft_quantity
             ,bef_buy_avg_price
             ,bef_buy_tot_price
             ,aft_buy_avg_price
             ,aft_buy_tot_price
             ,tax_amt
             ,fee_amt
             ,pnl_rate
             ,pnl_amt
             ,delete_yn
             ,reg_datetime
             ,last_update_datetime
        FROM stock_trade st
        WHERE stock_trade_id = ${stockTradeId}
    </select>

    <select id="selectStockTradeDtoList" parameterType="StockSearch" resultType="StockTradeDto">
        SELECT
            st.stock_trade_id
            ,st.trade_type
            ,st.trade_type_name
            ,st.stock_kind_id
            ,sk.stock_kind_cd
            ,sk.stock_kind_name
            ,SUBSTR(DATE_FORMAT(st.trade_datetime, '%Y-%m-%d %H:%i'), 3) AS trade_datetime
            ,st.trade_quantity
            ,st.trade_unit_price
            ,st.trade_amt
            ,st.bef_quantity
            ,st.aft_quantity
            ,st.bef_buy_avg_price
            ,st.bef_buy_tot_price
            ,st.aft_buy_avg_price
            ,st.aft_buy_tot_price
            ,st.tax_amt
            ,st.fee_amt
            ,st.pnl_rate
            ,st.pnl_amt
            ,st.delete_yn
            ,st.reg_datetime
            ,st.last_update_datetime
        FROM stock_trade st
            LEFT OUTER JOIN stock_kind sk ON sk.stock_kind_id = st.stock_kind_id
        WHERE 1 = 1
        <if test = 'stockTradeId != null and stockTradeId !=""'>
            AND st.stock_trade_id = ${stockTradeId}
        </if>
        <if test = 'stockTradeType != null and stockTradeType !="" and stockTradeType != "ALL"'>
            AND sk.trade_type = ${stockTradeType}
        </if>
        <if test = 'stockKindCd != null and stockKindCd !=""'>
            AND sk.stock_kind_cd = ${stockKindCd}
        </if>
        <if test = 'memberId != null and memberId !=""'>
            AND st.member_id = ${memberId}
        </if>
        <if test = 'deleteYn != null and deleteYn !=""'>
            AND st.delete_yn = #{deleteYn}
        </if>
        ORDER BY trade_datetime, reg_datetime desc
    </select>



    <select id="selectStockInterestDtoList" parameterType="Long" resultType="StockInterestDto">
        SELECT
              si.order_no
             ,si.stock_interest_id
             ,si.stock_kind_cd
             ,si.stock_kind_name
             ,sk.asset_id
             ,sk.stock_kind_id
        FROM stock_interest si
            LEFT OUTER JOIN stock_kind sk ON sk.member_id = si.member_id AND sk.stock_kind_cd = si.stock_kind_cd
        WHERE  si.member_id = ${memberId}
        ORDER BY si.order_no
    </select>


    <select id="selectStockInterestDto" parameterType="StockSearch" resultType="StockInterestDto">
        SELECT
            si.order_no
             ,si.stock_interest_id
             ,si.stock_kind_cd
             ,si.stock_kind_name
        FROM stock_interest si
        WHERE 1 = 1
        <if test = 'stockInterestId != null and stockInterestId !=""'>
            AND si.stock_interest_id = ${stockInterestId}
        </if>
        <if test = 'stockKindCd != null and stockKindCd !=""'>
            AND si.stock_kind_cd = ${stockKindCd}
        </if>
        <if test = 'memberId != null and memberId !=""'>
            AND si.member_id = ${memberId}
        </if>
    </select>


    <select id="selectStockInterest" parameterType="StockSearch" resultType="StockInterestEntity">
        SELECT
            si.order_no
             ,si.stock_interest_id
             ,si.stock_kind_cd
             ,si.stock_kind_name
             ,si.order_no
             ,si.reg_datetime
             ,si.last_update_datetime
        FROM stock_interest si
        WHERE 1 = 1
        <if test = 'stockInterestId != null and stockInterestId !=""'>
            AND si.stock_interest_id = ${stockInterestId}
        </if>
        <if test = 'stockKindCd != null and stockKindCd !=""'>
            AND si.stock_kind_cd = ${stockKindCd}
        </if>
        <if test = 'memberId != null and memberId !=""'>
            AND si.member_id = ${memberId}
        </if>
    </select>

    <select id="createStockInterestId" resultType="Long">
        SELECT IFNULL(MAX(stock_interest_id), 0) + 1 AS stock_interest_id
        FROM stock_interest
    </select>

    <select id="createStockInterestOrderNo" resultType="Long">
        SELECT IFNULL(MAX(order_no), 0) + 1 AS resultType
        FROM stock_interest
        WHERE member_id = ${memberId}
    </select>

    <insert id="insertStockInterest" parameterType="StockInterestEntity">
        INSERT INTO stock_interest (
            stock_interest_id
           ,member_id
           ,stock_kind_cd
           ,stock_kind_name
           ,order_no
           ,reg_datetime
           ,last_update_datetime
        ) VALUES
        (
             ${stockInterestId}
            ,${memberId}
            ,#{stockKindCd}
            ,#{stockKindName}
            ,${orderNo}
            ,NOW()
            ,NOW()
        )
    </insert>


    <update id="updateStockInterest" parameterType="StockInterestEntity">
        UPDATE stock_interest
        SET
           stock_kind_cd     = #{stockKindCd}
          ,stock_kind_name   = #{stockKindName}
          ,order_no          = ${orderNo}
          ,last_update_datetime = NOW()
        WHERE stock_interest_id = ${stockInterestId}
    </update>

    <delete id="deleteStockInterest" parameterType="Long">
        DELETE stock_interest
        WHERE stock_interest_id = ${stockInterestId}
    </delete>

    <update id="updateStockInterestOrder" parameterType="StockInterestEntity">
        UPDATE stock_interest
        SET
          ,order_no          = ${orderNo}
          ,last_update_datetime = NOW()
        WHERE stock_interest_id = ${stockInterestId}
    </update>

    <update id="chgStockInterestOrderNoDel" parameterType="StockSearch">
        UPDATE stock_interest
        SET
                order_no  = order_no - 1
                ,last_update_datetime = NOW()
        WHERE stock_interest_id = ${stockInterestId}
          AND order_no > ${orderNo}
    </update>

    <select id="chgStockInterestOrderNoMinus" parameterType="StockSearch">
        UPDATE stock_interest
           SET order_no = order_no - 1
             ,last_update_datetime = NOW()
        WHERE member_id = ${memberId}
          AND order_no BETWEEN ${startOrderNo} AND ${endOrderNo}
    </select>


    <select id="chgStockInterestOrderNoPlus" parameterType="StockSearch">
        UPDATE stock_interest
        SET order_no = order_no + 1
          ,last_update_datetime = NOW()
        WHERE member_id = ${memberId}
          AND order_no BETWEEN ${startOrderNo} AND ${endOrderNo}
    </select>

</mapper>